{% load i18n %}{% autoescape off %}
<!-- {% blocktrans %}You're receiving this email because you have been invited to Connective. {{ site_name }}.{% endblocktrans %} -->
הוזמנת להצטרף לקונקטיב,
לחץ על הקישור להשלמת תהליך ההצטרפות
<!-- {% trans "Please go to the following page and choose a new password:" %} -->
{% block reset_link %}

{{ reset_base_url }}/he/welcome/reset-password/{{ uid }}/{{ token }}/
<!-- /he/welcome/finishRegistration -->
<!-- {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} -->
{% endblock %}
<!-- {% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }} -->

<!-- {% trans "Thanks for using our site!" %} -->

<!-- {% blocktrans %}The {{ site_name }} team{% endblocktrans %} -->

{% endautoescape %}
