$hebrew-font-url: "~@/assets/fonts/Hebrew/Assistant-Regular.ttf";
$english-font-url: "~@/assets/fonts/English/Poppins-Regular.ttf";

@font-face {
  font-family: "Assistant";
  src: url($hebrew-font-url);
  unicode-range: U+0590-05FF, U+FB1D-FB4F;
}

@font-face {
  font-family: "Roboto";
  src: url($english-font-url);
}

// override vuetify default font
$body-font-family: "Assistant", "Roboto", Helvetica, sans-serif !important;
$hebrew-font-family: $body-font-family;
$english-font-family: $body-font-family;

// colors
$light-grey: #e0e0e0;
