$hebrew-font-url: "~@/assets/fonts/Hebrew/VarelaRound-Regular.ttf";

@font-face {
  font-family: VarelaRound;
  src: url($hebrew-font-url);
}

// override vuetify default font
$body-font-family: "VarelaRound", Arial !important;
$hebrew-font-family: $body-font-family;
$english-font-family: Arial, Helvetica, sans-serif;
$light-grey: #e0e0e0;
